@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
 }

header{height: 6rem;}

header > nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9F7CFF;
}

header > nav > .logo{
    display: inline-block;
    padding: 4.2rem 0rem 0.8rem 4.0rem;
}

header > nav > .menu{
    display: inline-block;
    padding-right: 4.0rem;
}

header > .nav_menu{
    position: relative;
    display: none;
    z-index: 10;
}

header > .nav_menu > ul{
    display: inline-block;
    width: 100%;
    padding: 0rem 0rem;
}

header > .nav_menu > ul > li{
    list-style: none;
    text-align: center;
    background-color: #9F7CFF;
    padding: 4rem 2.3rem;
}

header > .nav_menu > ul > li > a{
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 0em;
}

header > .nav_menu.active{display: flex;}

/**---메인---**/

.box{
    position: relative;
    width: 100%;
    display: flex;
    background-size: cover;
    justify-content: center;
}

.about01{
    border: 0px solid red;
    height: 371px;
    background-color: #9F7CFF;
}

.a01{
    border: 0px solid red;
    position: relative;
    height: 154px;
    margin-top: 283px;
}

.a02{
    position: absolute;
    height: 203px;
    margin-top: 259px;
    animation: bounce-in-top 1.1s both;
    animation-iteration-count: 2;
}

.ab01{
    height: 203px;
    margin-top: 259px;
}

.about02{
    border: 0px solid red;
    height: 468px;
}

.about03{
    border: 0px solid red;
    height: 404px;
}

.ab02{
    height: 404px;
}

.about04{
    height: 263px;
    background-color: #9F7CFF;
}

.ab03{
    border: 0px solid red;
    height: 152px;
    margin-top: 55px;
}

.about05{
    height: 685px;
    margin-top: 50px;
}

.about06{
    height: 67px;
    margin-right: 225px;
    margin-top: 80px;
    z-index: 9;
}

/**---푸터---**/

.footer01{
    width: 220px;
    height: 75px;
    margin-right: 225px;
    margin-top: 80px;
    z-index: 9;
}

.footer02{
    height: 275px;
    background-color: #EEE8FF;
    margin-top: -40px;
}

.foot{
    height: 170px;
    margin-top: 63px;
}


/**---모션---**/

@-webkit-keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
}
  }

